<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Create pizza</h1>
	<form method="POST">
		<div>
			<label>name</label>
			<input type="text" name="name">
		</div>
		<div>
			<label>description</label>
			<input type="text" name="description">
		</div>
		<div>
			<label>urlPhoto</label>
			<input type="text" name="urlPhoto">
		</div>
		<div>
			<label>price</label>
			<input type="number" name="price">
		</div>
		<input type="submit" value="Create">
	</form>
</body>
</html>